<section id="news">
  <div class="wrap">
    <div class="section-head reveal">
      <div class="tag">News</div>
      <h2>What's new in the group</h2>
    </div>
    <div class="news-list reveal">

      <div class="news-item">
        <div class="news-date">Jul 2026</div>
        <div>
          <h3>Mario presents at ASABE AIM and MS Academy of Science Summer Science & Engineering Symposium</h3>
          <p>Congratulations on your first poster presentation!</p>
        </div>
      </div>

      <div class="news-item">
        <div class="news-date">Jun 2026</div>
        <div>
          <h3>Two new Ph.D. students join the Lab</h3>
          <p>Mohamed Naziq and Rodgers Kabenomuhangi joins the Lab. Welcome to MSU!</p>
        </div>
      </div>

      <div class="news-item">
        <div class="news-date">May 2026</div>
        <div>
          <h3>New Ph.D. student joins the Lab</h3>
          <p>Marionei Fomaca Junior joins the Lab. Welcome Mario!</p>
        </div>
      </div>

      <div class="news-item">
        <div class="news-date">Nov 2025</div>
        <div>
          <h3>Lab receives funding</h3>
          <p>Lab receieves funding from MAFES Strategic Research Initiative. Thank you for the support!</p>
        </div>
      </div>
    </div>
  </div>
</section>
