<section id="team" class="panel">
  <div class="wrap">
    <div class="section-head reveal">
      <div class="tag">Team</div>
      <h2>People behind the scene.</h2>
    </div>
    <div class="team-grid">

      <a href="team/sayantan_samanta.html" target="_blank" class="person reveal">
        <div class="avatar"><img src="team/SamantaS_B.jpg"></div>
        <div class="role">Principal Investigator</div>
        <h4>Dr. Sayantan Samanta</h4>
      </a>

      <a href="team/mario_fomaca.html" target="_blank" class="person reveal">
        <div class="avatar"><img src="team/mario_headshot.jpeg"></div>
        <div class="role">Ph.D. Student</div>
        <h4>Marionei Fomaca Junior</h4>

      </a>

      <a href="team/rodgers.html" target="_blank" class="person reveal">
        <div class="avatar"><img src="team/rodgers.JPG"></div>
        <div class="role">Ph.D. Student</div>
        <h4>Rodgers Kabenomuhangi</h4>
      </a>

      <a href="team/naziq.html" target="_blank" class="person reveal">
        <div class="avatar"><img src="team/naziq.jpg"></div>
        <div class="role">Ph.D. Student</div>
        <h4>Mohamed Naziq Sabeeulla</h4>
      </a>

    </div>
  </div>
</section>
